<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="4.9.4" targetFramework="net472" />
  <package id="Autofac.Extras.DynamicProxy" version="4.5.0" targetFramework="net472" />
  <package id="AutoMapper" version="9.0.0" targetFramework="net472" />
  <package id="Castle.Core" version="4.3.1" targetFramework="net472" />
  <package id="Elasticsearch.Net" version="6.8.3" targetFramework="net472" />
  <package id="IdHelper" version="1.4.1" targetFramework="net472" />
  <package id="IdHelper.Zookeeper" version="1.5.0" targetFramework="net472" />
  <package id="NEST" version="6.8.3" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net472" />
  <package id="NLog" version="4.6.7" targetFramework="net472" />
  <package id="System.Linq.Dynamic" version="1.0.7" targetFramework="net472" />
  <package id="ZooKeeperNetEx" version="3.4.12.4" targetFramework="net472" />
</packages>