<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.3.0" targetFramework="net461" />
  <package id="IdHelper" version="1.4.1" targetFramework="net461" />
  <package id="MySql.Data" version="6.9.12" targetFramework="net461" />
  <package id="Oracle.ManagedDataAccess" version="19.3.1" targetFramework="net461" />
  <package id="System.Linq.Dynamic" version="1.0.7" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
</packages>