
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Form2</title>
    <link rel="stylesheet" href="~/Skin/AdminLTE/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Skin/AdminLTE/plugins/bootstrap-table/bootstrap-table.min.css">
    <link rel="stylesheet" href="~/Skin/AdminLTE/plugins/bootstrap-select/bootstrap-select.min.css">
    <link rel="stylesheet" href="~/css/admin.css" />

    <script src="~/Skin/AdminLTE/plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="~/Skin/AdminLTE/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Skin/AdminLTE/plugins/bootstrap-table/bootstrap-table.min.js"></script>
    <script src="~/Skin/AdminLTE/plugins/bootstrap-table/bootstrap-table-zh-CN.min.js"></script>
    <script src="~/Skin/AdminLTE/plugins/bootstrap-select/bootstrap-select.min.js"></script>
    <script src="~/Skin/AdminLTE/plugins/bootstrap-select/defaults-zh_CN.min.js"></script>
    <script src="~/Scripts/util/util.js"></script>
    <script src="~/Skin/AdminLTE/plugins/layer/layer.js"></script>

    <style>
        .form-group form-horizontal {
            margin-right: 0px;
            margin-left: 0px;
        }
    </style>
</head>
<body>
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <label for="firstname" class="col-sm-2 control-label">名字</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" id="firstname"
                       placeholder="请输入名字">
            </div>
        </div>
        <div class="form-group">
            <label for="firstname" class="col-sm-2 control-label">名字名字名字</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" id="firstname"
                       placeholder="请输入名字">
            </div>
        </div>
        @*<div class="form-group">
            <label for="firstname" class="col-sm-1 control-label">名字啊啊啊</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" id="firstname"
                       placeholder="请输入名字">
            </div>
        </div>*@

    </form>
</body>
</html>
