
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index2</title>
    <link rel="stylesheet" href="~/Skin/AdminLTE/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Skin/AdminLTE/plugins/bootstrap-table/bootstrap-table.min.css">
    <link rel="stylesheet" href="~/Skin/AdminLTE/plugins/bootstrap-select/bootstrap-select.min.css">

    <style>
        .form-group {
            margin-right: 5px;
        }
    </style>
</head>
<body>
    <div style="padding:15px">
        <div id="toobar">
            <div class="btn-group btn-group-sm">
                <button id="add" type="button" class="btn btn-default" aria-label="Left Align">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    添加
                </button>
                <button id="edit" type="button" class="btn btn-default" aria-label="Center Align">
                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                    修改
                </button>
                <button id="delete" type="button" class="btn btn-default" aria-label="Right Align">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    删除
                </button>
                <button type="button" class="btn btn-default" aria-label="Right Align" onclick="javascript: location.reload();">
                    <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                    刷新
                </button>
            </div>
        </div>
        <div id="searchBar" style="margin-top:5px;" class="search_wrapper">
            <form class="form-inline" id="searchForm">
                <div class="form-group">
                    <label>查询类别</label>
                    <select class="selectpicker" name="condition" data-style="btn-default btn-sm" data-width="100px">
                        <option value="">请选择</option>
                        <option value="UserName">用户名</option>
                        <option value="RealName">真实姓名</option>
                    </select>
                    <input type="text" class="form-control input-sm" name="keyword" placeholder="请输入关键字">
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-default btn-sm" onclick="javascript: $('#table').bootstrapTable('refresh', { silent: true });">
                        <i class="glyphicon glyphicon-search"></i>
                        查询
                    </button>
                </div>
            </form>
        </div>
        <div style="margin-top:5px">
            <table id="table" class="table-bordered"></table>
        </div>
    </div>

    <script src="~/Skin/AdminLTE/plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="~/Skin/AdminLTE/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Skin/AdminLTE/plugins/bootstrap-table/bootstrap-table.min.js"></script>
    <script src="~/Skin/AdminLTE/plugins/bootstrap-table/bootstrap-table-zh-CN.min.js"></script>
    <script src="~/Skin/AdminLTE/plugins/bootstrap-select/bootstrap-select.min.js"></script>
    <script src="~/Skin/AdminLTE/plugins/bootstrap-select/defaults-zh_CN.min.js"></script>
    <script src="~/Scripts/util/util.js"></script>
    <script src="~/Skin/AdminLTE/plugins/layer/layer.js"></script>

    <script>
        var $table = $('#table');

        //初始化表格
        function initTable() {
            $table.bootstrapTable({
                url: '/Base_SysManage/Base_User/GetDataList',
                idField: 'id',
                pagination: true,
                method: 'post',
                clickToSelect: true,
                sidePagination: "server",
                pageNumber: 1,
                pageSize: 30,
                pageList: [10, 30, 60, 100],
                columns: [
                    { title: 'ck', field: 'ck', checkbox: true },
                    { title: '用户名', field: 'UserName', width: 200 },
                    { title: '真实姓名', field: 'RealName', width: 200 },
                    //{
                    //    title: '性别', field: 'Sex', width: 200, formatter: function (value, row) {
                    //        var mapping = {
                    //            '1': '男',
                    //            '0': '女'
                    //        };

                    //        return mapping[value];
                    //    }
                    //},
                    //{
                    //    title: '出生日期', field: 'Birthday', width: 200, formatter: function (value) {
                    //        return toDateString(value, 'yyyy-MM-dd');
                    //    }
                    //},
                    { title: '所属角色', field: 'RoleNameList', width: 600 }
                    //{
                    //    title: '操作', field: '_', width: 200, fixed: true, formatter: function (value, row) {
                    //        var html = '';
                    //        if (manageSysPermission && row['UserId'] != 'Admin') {
                    //            html += '<a href="javascript:;" onclick="setPermission(\'{0}\',\'{1}\')">设置权限</a>'.format(row['UserId'], row['RealName']);
                    //        }

                    //        return html;
                    //    }
                    //}
                ],
                queryParams: function (params) {
                    var searchParams = $('#searchForm').getValues();
                    $.extend(params, searchParams);

                    return params;
                }
            });
        }

        //绑定事件
        function bindEvent() {
            //添加数据
            $('#add').click(function () {
                layer.open({
                    type: 2,
                    title: '欢迎页',
                    maxmin: true,
                    area: ['800px', '500px'],
                    btn: ['确定', '取消'],
                    content: '/Base_SysManage/Base_User/Form2',
                    end: function () {
                        //layer.tips('Hi', '#about', { tips: 1 })
                    }
                });
            });
        }

        $(function () {
            initTable();
            bindEvent();
        });
         
    </script>
</body>
</html>
