
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PermissionForm3</title>
    <link rel="stylesheet" type="text/css" href="http://www.jq22.com/jquery/bootstrap-3.3.4.css">
    <link rel="stylesheet" type="text/css" href="http://www.jq22.com/jquery/font-awesome.4.6.0.css">
    <link rel="stylesheet" type="text/css" href="~/css/build.css" />
</head>
<body>
    <div style="padding:15px;padding-right:45px;">
        <form id="form" class="form-horizontal" role="form">
            <div class="form-group form-group-sm">
                <label class="col-sm-1 control-label">模块</label>
                <label class="col-sm-10 control-label" style="text-align:left">权限项</label>
            </div>
            <div class="form-group form-group-sm">
                <label class="col-sm-1 control-label">用户</label>
                <div class="col-sm-10">
                    <div class="checkbox checkbox-success checkbox-inline">
                        <input type="checkbox" class="styled" id="inlineCheckbox1" value="option1">
                        <label for="inlineCheckbox1">添加</label>
                    </div>
                    <div class="checkbox checkbox-success checkbox-inline">
                        <input type="checkbox" class="styled" id="inlineCheckbox2" value="option1" checked>
                        <label for="inlineCheckbox2">删除</label>
                    </div>
                    <div class="checkbox checkbox-success checkbox-inline">
                        <input type="checkbox" class="styled" id="inlineCheckbox3" value="option1">
                        <label for="inlineCheckbox3">修改</label>
                    </div>
                </div>
                <div class="col-sm-1">
                    <button type="button" class="form-control btn btn-sm btn-success">全选</button>
                </div>
            </div>
        </form>
    </div>
</body>
</html>
