
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PermissionForm1</title>
    <link rel="stylesheet" type="text/css" href="http://www.jq22.com/jquery/bootstrap-3.3.4.css">
    <link rel="stylesheet" type="text/css" href="http://www.jq22.com/jquery/font-awesome.4.6.0.css">
    <link rel="stylesheet" type="text/css" href="~/css/build.css"/>
</head>
<body>
    <div>
        <div class="checkbox checkbox-success checkbox-inline">
            <input type="checkbox" class="styled" id="inlineCheckbox1" value="option1">
            <label for="inlineCheckbox1">添加</label>
        </div>
        <div class="checkbox checkbox-success checkbox-inline">
            <input type="checkbox" class="styled" id="inlineCheckbox2" value="option1" checked>
            <label for="inlineCheckbox2">删除</label>
        </div>
        <div class="checkbox checkbox-success checkbox-inline">
            <input type="checkbox" class="styled" id="inlineCheckbox3" value="option1">
            <label for="inlineCheckbox3">修改</label>
        </div>
    </div>
</body>
</html>
