<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!--SqlServer-->
  <add name="BaseDb" connectionString="Data Source=.;Initial Catalog=Coldairarrow.Fx.Net.Easyui.GitHub;Integrated Security=True" providerName="System.Data.SqlClient" />
  <!--MySql-->
  <!--<add name="BaseDb" connectionString="Data Source=localhost;Initial Catalog=coldairarrow.fx.net.easyui.github;User ID=root;Password=root;charset=utf8;" providerName="MySql.Data.MySqlClient" />-->
  <!--PostgreSQL-->
  <!--<add name="BaseDb" connectionString="SERVER=localhost;PORT=5432;DATABASE=Coldairarrow.Fx.Net.Easyui.GitHub;USER ID=postgres;PASSWORD=postgres" providerName="Npgsql" />-->
  <!--Oracle-->
  <!--<add name="BaseDb" connectionString="Data Source=127.0.0.1/ORCL;User ID=DB;Password=123456;Connect Timeout=3" providerName="Oracle.ManagedDataAccess.Client" />-->
</connectionStrings>