<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!--SqlServer-->
  <add name="BaseDb" connectionString="Data Source=.;Initial Catalog=Colder.Fx.Net.AdminLTE;Integrated Security=True" providerName="System.Data.SqlClient" />
  <!--MySql-->
  <!--<add name="BaseDb" connectionString="Data Source=localhost;Initial Catalog=colder.fx.net.adminlte;User ID=root;Password=root;charset=utf8;" providerName="MySql.Data.MySqlClient" />-->
  <!--PostgreSQL-->
  <!--<add name="BaseDb" connectionString="SERVER=localhost;PORT=5432;DATABASE=Colder.Fx.Net.AdminLTE;USER ID=postgres;PASSWORD=postgres" providerName="Npgsql" />-->
  <!--Oracle-->
  <!--<add name="BaseDb" connectionString="Data Source=127.0.0.1/ORCL;User ID=COLDER.FX.NET.ADMINLTE;Password=123456;Connect Timeout=3" providerName="Oracle.ManagedDataAccess.Client" />-->
</connectionStrings>