<?xml version="1.0" encoding="utf-8"?>
<appSettings>  
  <add key="webpages:Version" value="3.0.0.0"/>
  <add key="webpages:Enabled" value="false"/>
  <add key="ClientValidationEnabled" value="true"/>
  <add key="UnobtrusiveJavaScriptEnabled" value="true"/>

  <!--雪花Id,,以进程为单位,不同进程数据中心Id和机器Id不能同时重复-->
  <!--机器Id-->
  <add key="WorkerId" value="1"/>
  <!--雪花Id-->
</appSettings>