<?xml version="1.0" encoding="utf-8"?>
<SysMenu>
  <FirstMenu text="系统" icon="icon_menu_sys">
    <SecondMenu text="用户管理" url="~/Base_SysManage/Base_User/Index" Permission="sysuser.search" />
    <SecondMenu text="角色管理" url="~/Base_SysManage/Base_SysRole/Index" Permission="sysrole.search" />
    <SecondMenu text="接口密钥管理" url="~/Base_SysManage/Base_AppSecret/Index" Permission="appsecret.search" />
    <SecondMenu text="系统日志" url="~/Base_SysManage/Base_SysLog/Index" Permission="sysLog.search" />
  </FirstMenu>
  <!--<FirstMenu Name="项目" Icon="icon_menu_sys">
    <SecondMenu Name="项目管理">
      <ThirdMenu Name="项目管理" Url="~/Test/material/Index" Permission="" />
    </SecondMenu>
  </FirstMenu>-->
</SysMenu>