@using Coldairarrow.Entity.Base_SysManage;
@using Coldairarrow.Util;

@{
    Layout = "~/Views/Shared/_Layout_Form.cshtml";
}

<link href="~/Scripts/vendor/select2/select2.min.css" rel="stylesheet"/>
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-theme/0.1.0-beta.10/select2-bootstrap.min.css" rel="stylesheet"/>
<script src="~/Scripts/vendor/select2/select2.min.js"></script>
<script src="~/Scripts/vendor/select2/i18n/zh-CN.js"></script>

<div style="padding:15px;padding-right:45px;">
    <form id="form" class="form-horizontal" role="form">
        <div class="form-group form-group-sm">
            <label class="col-sm-2 control-label">连接名</label>
            <div class="col-sm-5">
                <input name="LinkName" type="text" class="form-control" required>
                <div class="help-block with-errors"></div>
            </div>
        </div>
        <div class="form-group form-group-sm">
            <label class="col-sm-2 control-label">数据库类型</label>
            <div class="col-sm-5">
                <select id="DbType" name="DbType" class="form-control">
                    <option value="SqlServer">SqlServer</option>
                    <option value="MySql">MySql</option>
                    <option value="Oracle">Oracle</option>
                    <option value="PostgreSql">PostgreSql</option>
                </select>
                <div class="help-block with-errors"></div>
            </div>
        </div>
        <div class="form-group">
            <button id="submit" type="submit" class="hidden">提交</button>
        </div>
    </form>
</div>
<script>
    $(function () {
        $('#DbType').select2({
            language: 'zh-CN',//中文
            theme:'bootstrap',
            minimumResultsForSearch: -1,//取消搜索
            multiple: false,//多选
            closeOnSelect: true
        });
    });
</script>
